* text=auto

composer.lock linguist-generated
composer-project.nix linguist-generated

.claude export-ignore
.codex export-ignore
.editorconfig export-ignore
.envrc export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
AGENTS.md export-ignore
benchmarks export-ignore
composer.lock export-ignore
docs/development export-ignore
docs/pages/images/logia export-ignore
docs/pages/images/logia/** export-ignore
infection.json5.dist export-ignore
infection.phpstan.bootstrap.php export-ignore
infection.phpstan.json5.dist export-ignore
phpbench-perfidious.json export-ignore
phpbench.json export-ignore
phpstan.neon.dist export-ignore
phpunit.branch.xml.dist export-ignore
phpunit.xml.dist export-ignore
probator export-ignore
src/Catalog/PhpCatalogExporter.php export-ignore
src/Catalog/Udunits2CatalogImporter.php export-ignore
src/Command export-ignore
tests export-ignore
