# IMM PHPStan extension (incremental).
# Piece 1: unit expression parsing
# Piece 2: unit_int / unit_float PHPDoc types
# Piece 3: arithmetic operator type inference

services:
    -
        class: jbboehr\IudexMensurarumMysteriorum\PHPStan\UnitExpressionParser
    -
        class: jbboehr\IudexMensurarumMysteriorum\PHPStan\UnitTypeNodeResolverExtension
        tags:
            - phpstan.phpDoc.typeNodeResolverExtension
    -
        class: jbboehr\IudexMensurarumMysteriorum\PHPStan\UnitOperatorTypeSpecifyingExtension
        tags:
            - phpstan.broker.operatorTypeSpecifyingExtension
