{
    bootstrap: "infection.phpstan.bootstrap.php",
    source: {
        directories: [
            "src/PHPStan",
        ],
    },
    timeout: 60,
    threads: "max",
    logs: {
        text: "infection-phpstan.log",
        summary: "infection-phpstan-summary.log",
    },
    testFramework: "phpunit",
    mutators: {
        "@default": true,
    },
}
