<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        bootstrap="vendor/autoload.php"
        colors="true"
        failOnRisky="true"
        failOnWarning="true"
        cacheDirectory=".phpunit.cache"
        executionOrder="default"
>
    <source>
        <exclude>
            <file>./src/Parser/Parser.php</file>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="Branch Coverage">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
