includes:
    - vendor/jbboehr/yumemi/extension.neon
    - vendor/jbboehr/yumemi/yumemi-tags.neon

parameters:
    level: max
    paths:
        - cases
    tmpDir: tmp/phpstan
    yumemi:
        stubs:
            - illuminate/http
